:root {
    --nutmeg: hsl(14, 45%, 36%);
    --darkberry: hsl(332, 51%, 32%);

    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

}

/* FUENTES */

@font-face {
    font-family: Outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: YoungSerif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

/* ESTILOS DE ETIQUETA */

/* * {
    background: rgb(0 100 0 / 0.1) !important;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@media (min-width: 1200px) {
    body {
        background-color: var(--eggshell);
    }
}

h1 {
    font-family: 'YoungSerif', serif;
    margin-bottom: 1.5rem;
}

h3 {
    color: var(--darkberry);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}


hr {
    margin: 2rem 0rem;
}

.nutmeg-h {
    font-family: 'YoungSerif', serif;
    color: var(--nutmeg);
    font-size: 2rem;
    font-weight: 500;
    margin:  1.5rem 0;
}

img {
    max-width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}

.container {
    padding: 2rem;
}

@media (min-width: 1200px) {
    .container {
        background-color: white;
        width: 98%;
        max-width: 1200px;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.prep-time {
    background-color: var(--rose-white);
    font-family: 'Outfit', sans-serif;
    border-radius: 0.5rem;
    padding: 1rem;
}

.list {
    font-family: 'Outfit', sans-serif;
    line-height: 2rem;
    list-style-position: inside;
    padding-inline-start: 0%;
}

.instructions .list li {
    margin-bottom: 0.5rem;
}

.list li::marker {
    color: var(--darkberry);
    font-weight: bold;
}

table{
    width: 93%;
    color: hsl(14, 45%, 36%);
    line-height: 1.5rem;
    font-size: 1rem;
}

td {
    color: hsl(14, 45%, 36%);
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    padding: 0.7rem 0 0.7rem 0;
    border-bottom: 1px solid var(--light-grey);    
}

tr:last-child td{
    border: none;
}

.cells{
    color: hsl(14, 45%, 36%);
    line-height: 1.5em;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
}